.channelrow {
    display: flex;
    align-items: center;
    width: 70%;
}

.channelrow__text {
    display: flex;
    flex-direction: column;
}

.channelrow__text > p {
    color: #606060;
    font-size: small !important;
}

.channelrow__logo {
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;
}

.channelrow__text > * {
    margin: 2px 2px;
}

.channelrow__text > h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
